@model List<BedDtoViewModel>

@{
    ViewData["Title"] = "Mater Emergency Care Centre Board - Summary information";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Mater Emergency Care Centre Board</h1>
    <p>Below is a list of all eight beds and who are the patients that are in them.</p>

</div>

<h2><ul>Summary information</ul></h2>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>Bed</th>
            <th>Status</th>
            <th>Patient</th>
            <th>DOB</th>
            <th>Presenting Issue</th>
            <th>Last comment</th>
            <th>Last update</th>
            <th>Nurse</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.Bed</td>
                <td>@r.Status</td>
                <td>@r.Patient</td>
                <td>@r.DOB</td>
                <td>@r.PresentingIssue</td>
                <td>@r.LastComment</td>
                <td>@r.LastUpdate</td>
                <td>@r.Nurse</td>
                <td>
                @if (r.Status == "In use")
                {
                    <a asp-action="AddComment" asp-route-id="@r.PatientId/@r.Patient">Add comment</a>
                    <a asp-action="DischargePatient" asp-route-id="@r.PatientId/@r.Patient">Discharge</a>
                }
                else
                {
                    <a asp-action="AdmitPatient" asp-route-id="@r.Bed">Admit</a>
                }
                </td>
            </tr>
        }
    </tbody>
</table>